.page-footer {
	nav {
		padding-top: toRem(30px);
		padding-bottom: toRem(10px);
		background-color: rgb(var(--color-gray-light));
		.footer-pagelinks {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: toRem(30px);
			font-size: toRem(14px);
			line-height: toRem(30px);
		}
	}
	.footer-copyright {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: toRem(50px);
		padding-bottom: toRem(30px);
	}
}

@include breakpoint(sm) {
	.page-footer {
		nav {
			.footer-pagelinks {
				flex-direction: row;
			}
		}
	}
}
