.popin {
	position: fixed;
	display: flex;
	top: toRem(120px);
	right: toRem(20px);
	z-index: 10;
	&[data-open='false'] {
		pointer-events: none;
		.sidemenu {
			pointer-events: all;
		}
	}
	&[data-open='true'] {
		pointer-events: all;
	}
}

@include breakpoint(sm) {
	.popin {
		top: toRem(200px);
		right: toRem(40px);
	}
}
@include breakpoint(xl) {
	.popin {
		top: toRem(160px);
		right: toRem(40px);
	}
}
