.sidemenu {
	display: fixed;
	z-index: 10;
	ul {
		display: grid;
		grid-template-rows: toRem(40px) toRem(40px) toRem(40px);
		grid-template-columns: toRem(40px);
		padding: 0;
		li {
			.sidemenu-btn {
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
			}
		}

		.burger-btn {
			border: solid toRem(2px) white;
			fill: white;
			.sidemenu-btn {
				svg {
					overflow: visible;
					.ico-burger-top {
						transform-origin: 50% 50%;
					}
					.ico-burger-middle {
						transform-origin: 50% 50%;
					}
					.ico-burger-bottom {
						transform-origin: 50% 50%;
					}
				}
			}
		}

		.ticket-btn {
			background-color: rgb(var(--color-teal-medium));
		}

		.people-btn {
			background-color: white;
		}
	}
}

@include breakpoint(sm) {
	.sidemenu {
		top: toRem(90px);
		ul {
			grid-template-rows: toRem(80px) toRem(80px) toRem(80px);
			grid-template-columns: toRem(80px);
		}
	}
}
@include breakpoint(xl) {
	.sidemenu {
		top: toRem(120px);
	}
}
